@page "/admin-dashboard"
@using HandsOnBlazorManagingApplicationState.Services
@inject AppState AppState

<h3>Welcome to Admin Dashboard</h3>

<p>User: @AppState.UserName</p>
<p>Role: @AppState.Role</p>

@code {
   
}
