@page "/dashboard"
@using HandsOnBlazorManagingApplicationState.Services
@implements IDisposable
@inject AppState AppState

<h3>Dashboard</h3>

<p>User: @AppState.UserName</p>
<p>Role: @AppState.Role</p>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
