@page "/login"
@using HandsOnBlazorManagingApplicationState.Services
@inject AppState AppState
@inject NavigationManager Nav
@rendermode InteractiveServer
<h3>Login</h3>

<button @onclick="LoginAsAdmin">Login as Admin</button>

@code {
    void LoginAsAdmin()
    {
        AppState.SetUser("San", "Admin");
        Nav.NavigateTo("/dashboard");
    }
}
