@page "/counter"
@rendermode InteractiveServer
<h3>Counter Demo</h3>
<p>Count:@count</p>
<button class="btn btn-primary" @onclick="() => count += 5">Increment By 5</button>
<button class="btn btn-primary" @onclick="Increment">Increment</button>
<button class="btn btn-secondary" @onclick="Decrement">Decrement</button>

@code {
    private int count;
    private void Increment() => count++;
    private void Decrement() => count--;
}
