@page "/"

<h3>Blazor Web App Demo</h3>

<p>
    This project demonstrates:
</p>

<ul>
    <li>Component-based UI</li>
    <li>Routing</li>
    <li>.NET → JavaScript</li>
    <li>JavaScript → .NET</li>
    <li>JavaScript Isolation</li>
</ul>
