@using HandsOnBlazorValidationCaseStudy.Models

<EditForm EditContext="@editContext"
          OnValidSubmit="HandleValidSubmit"
          OnInvalidSubmit="HandleInvalidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Full Name</label>
        <InputText class="form-control"
                   @bind-Value="employee.FullName" />
        <ValidationMessage For="() => employee.FullName" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control"
                   @bind-Value="employee.Email" />
        <ValidationMessage For="() => employee.Email" />
    </div>

    <div class="mb-3">
        <label>Age</label>
        <InputNumber class="form-control"
                     @bind-Value="employee.Age" />
        <ValidationMessage For="() => employee.Age" />
    </div>

    <h5>Address</h5>
    <button class="btn btn-primary"
            disabled="@(!isFormValid)">
        Submit
    </button>

</EditForm>

<Toast @ref="toast" />

@code {
    private Employee employee = new();
    private EditContext editContext;
    private bool isFormValid;
    private Toast toast;

    protected override void OnInitialized()
    {
        editContext = new EditContext(employee);

        editContext.OnFieldChanged += (_, __) =>
        {
            isFormValid = !editContext.GetValidationMessages().Any();
            StateHasChanged();
        };
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("Employee saved successfully");
    }

    private async Task HandleInvalidSubmit(EditContext context)
    {
        await toast.ShowAsync();
    }
}
