<h3>Products</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>@product</li>
        }
    </ul>
}

@code {
    List<string>? products;
    // Simulate fetching data from an API
    // using OnInitializedAsync lifecycle method
    //when OnInitializedAsync is used, the component will render once with the loading state, 
    // and then re-render once the data is fetched.
    // This is useful for scenarios where data needs to be loaded asynchronously.
    //
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000); // Simulate API call
        products = new() { "Laptop", "Mobile", "Tablet" };
    }
}
