<button @onclick="Save">Save</button>

@code {
    // Define an EventCallback parameter to notify parent component
    [Parameter] public EventCallback<string> OnSave { get; set; }

    async Task Save()
    {
        // Simulate some save operation
        //InvokeAsync to notify parent component
        //
        await OnSave.InvokeAsync("Saved Successfully");
    }
}
