@inherits LayoutComponentBase

<div class="container mt-3">
    <nav class="mb-3">
        <a href="/">Home</a> |
        <a href="/products">Products</a> |
        <a href="/js-interop">JS Interop</a> |
        <a href="/js-isolation">JS Isolation</a>
    </nav>

    @Body
</div>
