@inject AppState State
@implements IDisposable

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in State.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <button class="btn btn-sm btn-warning"
                            @onclick="() => State.Select(product.Id)">
                        Edit
                    </button>

                    <button class="btn btn-sm btn-danger"
                            @onclick="() => State.Delete(product.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    // Subscribe to state changes on initialization
    // WHY: To ensure the component updates its UI when the state changes.
    //When it Invokes: StateHasChanged, it tells Blazor to re-render the component to reflect the latest state.
    protected override void OnInitialized()
    {
        State.OnChange += Refresh;
    }

    void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        State.OnChange -= Refresh;
    }
}

@* Communication Pattern

Component → State container

No direct coupling to other components *@