@using BlazorApp.Web.Services
@inject IProductService ProductService

<ul>
    @foreach (var product in products)
    {
        <li>@product</li>
    }
</ul>

@code {
    private List<string> products = [];

    // protected override async Task OnInitializedAsync()
    // {
        
    //     products = new List<string>
    //         {
    //             "Laptop", "Keyboard"
    //         };
    // }
    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
       
    }
}
