<EditForm Model="model" OnValidSubmit="Submit">
    <InputText @bind-Value="model.Name" />
    <button type="submit">Save</button>
</EditForm>

@code {
    UserModel model = new();
    void Submit() { }
    public class UserModel
    {
        public string Name { get; set; }
    }
}
