@page "/chart-isolated"
@inject IJSRuntime JS

<h3>Chart.js – JS Isolation (Final)</h3>

<canvas @ref="canvas"
        width="600"
        height="300"
        style="border:1px solid red;">
</canvas>

@code {
    private ElementReference canvas;
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        module = await JS.InvokeAsync<IJSObjectReference>(
            "import",
            "/js/chart-isolated.js"
        );

        await module.InvokeVoidAsync("renderBarChart", canvas);
    }
}
