<h3>UserProfileHost</h3>
<DynamicComponent Type="@componentType"
                  Parameters="@parameters" />

@code {
    Type? componentType;
    Dictionary<string, object>? parameters;
    protected override void OnInitialized()
    {
        componentType = typeof(UserProfile);
        parameters = new()
        {
            ["Name"] = "john_doe",
            ["Email"] = "john@example.com",
            ["Age"] = "Pune"
        };
    }
}
