@page "/todo"
@using TodoList.Models
@rendermode InteractiveServer
<PageTitle>Todo</PageTitle>
<h3>Todo(@todoItems.Count(todo => !todo.IsDone))</h3>
<ul>
    @foreach (var item in todoItems)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            <input @bind="item.Title" />
            <button class="btn btn-primary" @onclick="() => EditTodo(item)">Edit todo</button>
            <button class="btn btn-primary" @onclick="() => DeleteTodo(item)">Delete todo</button>
        </li>
    }

</ul>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Is Done</th>
            <th>Is Done</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in todoItems)
        {
            <tr>
                <td>@item.Title</td>
                <td>@(item.IsDone ? "Yes" : "No")</td>
                <td>  <input type="checkbox" @bind="item.IsDone" /></td>
                <td>
                    <button class="btn btn-primary" @onclick="() => EditTodo(item)">Edit todo</button>
                    <button class="btn btn-primary" @onclick="() => DeleteTodo(item)">Delete todo</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<input placeholder="Something todo" @bind="newTodoTitle" />
<button class="btn btn-primary" @onclick="AddTodo">Add todo</button>

@code {
    private string? newTodoTitle;
    private List<TodoItem> todoItems = new();
    private void AddTodo()
    {
        if (!string.IsNullOrEmpty(newTodoTitle))
        {
            todoItems.Add(new TodoItem { Title = newTodoTitle });
            newTodoTitle = string.Empty;
        }
    }
    private void EditTodo(TodoItem item)
    {
        // Logic to edit the todo item
        for (int i = 0; i < todoItems.Count; i++)
        {
            if (todoItems[i] == item)
            {
                todoItems[i].IsDone = item.IsDone;
                break;
            }
        }
    }
    private void DeleteTodo(TodoItem item)
    {
        // Logic to delete the todo item
        todoItems.Remove(item);
    }
}
